<div class="container-fluid" id="contactpg-background">
    <div class="row justify-content-center p-2">
        <h1>Contact Me</h1>
    </div>
    <div class="row justify-content-center my-2">
        <div class="col-8 offset-2">
            <p>
                Have a question? Want to make a reccomendation for my next recipe? Join my newsletter and send me
                comments down below!
            </p>
        </div>
    </div>
    <div class="row justify-content-center mb-5">
        <div class="col-4">
            <form>
                <div class="form-group">
                    <label for="fname">First Name</label>
                    <input type="text" name="fname" id="" class="form-control">
                    <label for="lname">Last Name</label>
                    <input type="text" name="lname" id="" class="form-control">
                    <label for="email">Email</label>
                    <input type="text" name="email" id="" class="form-control">
                    <label for="sel1">What kind of recipes do you want to see next?</label>
                    <select class="form-control" id="sel1" name="favfoods">
                        <option value="italian">Italian</option>
                        <option value="mexican">Mexican</option>
                        <option value="korean">Korean</option>
                        <option value="indian">Indian</option>
                        <option value="cajun">Cajun</option>
                        <option value="japanese">Japanese</option>
                        <option value="greek">Greek</option>
                        <option value="american">American</option>
                    </select>
                </div>
                <button type="submit" class="btn btn-secondary">Submit</button>
            </form>
        </div>
    </div>
</div>