<div class="row justify-content-center p-2">
    <h1>G's Kitchen</h1>
</div>
<div class="row body p-3">
    <div class="col-10 offset-1">
        Welcome back to G's Kitchen! Today we will be making a very simple and spicy Korean street food: Tteokbokki!
        Tteokbokki, or simmered rice cake, is a popular Korean food made from small-sized garae-tteok (long, white,
        cylinder-shaped rice cakes) called tteokmyeon. Eomuk (fish cakes), boiled eggs, and scallions are some
        common ingredients paired with tteokbokki in dishes. It can be seasoned with either spicy gochujang (chili
        paste) or non-spicy ganjang (soy sauce)-based sauce. Tteokbokki is commonly purchased and eaten at bunsikjip
        (snack bars) as well as pojangmacha (street stalls).
    </div>
</div>
<div class="row">
    <img src="https://th.bing.com/th/id/OIP.44oJ9fRUtq7rKiRrksDZZAHaEJ?pid=ImgDet&rs=1"
        class="col-6 offset-3 p-3" />
</div>
<div class="row body p-3">
    <div class="col-10 offset-1">
        For our home-cooked meal today, this recipe I have modified it to fit my tastes and can be made in under 45
        minutes. Based on your preferences, you can add more than what is mentioned in the recipe. I sometimes like
        to add pork belly in mine, though I have also added in vegetables like sliced carrots and cabbage from time
        to time. Give this recipe a try, you will not regret it. Click on the link at the bottom of the page to view
        the
        instructions and directions, as well as video tutorial. Now lets get cooking!
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-2">
        <button type="button" class="btn btn-secondary">
            <a href="/recipepage" class="text-white">To Recipe Page</a>
        </button>
    </div>
</div>
